@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");

$light-blue: rgb(74, 207, 255);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/deadlift.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 100vh;
  font-family: Roboto, sans-serif;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: $light-blue;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -10px;
  margin-bottom: 0.5em;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.intro {
  backdrop-filter: blur(6px) saturate(100%);
  -webkit-backdrop-filter: blur(6px) saturate(100%);
  background-color: rgba(75, 75, 75, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(143, 143, 143, 0.3);
  color: white;
  max-width: 1000px;
  justify-content: center;
  margin: auto;

  p {
    text-align: center;
    padding: 2em;
    max-width: 80ch;
    margin: auto;
    font-size: 1.25rem;
  }
  a {
    color: $light-blue;
    text-decoration: none;
  }
}
