@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/deadlift.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 100vh;
  font-family: Roboto, sans-serif;
  color: gainsboro;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  max-width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #4acfff;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -10px;
  margin: 0;
}

.intro {
  backdrop-filter: blur(3px) saturate(100%);
  -webkit-backdrop-filter: blur(6px) saturate(100%);
  background-color: rgba(75, 75, 75, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(143, 143, 143, 0.3);
  max-width: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  position: relative;
  width: 100%;
}

.intro #intro-close {
  position: absolute;
  right: 1ch;
  top: 1ch;
  font-weight: bold;
  cursor: pointer;
}

.intro p {
  text-align: center;
  padding: 2em;
  max-width: 80ch;
  margin: auto;
  font-size: 1.25rem;
}

.intro a {
  color: #4acfff;
  text-decoration: none;
}

.orm-calculator {
  backdrop-filter: blur(3px) saturate(100%);
  -webkit-backdrop-filter: blur(6px) saturate(100%);
  background-color: rgba(75, 75, 75, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(143, 143, 143, 0.3);
  max-width: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1em;
  text-align: center;
}

@media (max-width: 700px) {
  .orm-calculator {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.orm-calculator h3 {
  margin: 1rem;
}

.orm-calculator h4 {
  margin: 1rem;
}

.orm-calculator div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

.orm-calculator div label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5rem;
}

.orm-calculator div label input {
  max-width: 100px;
  margin: 1ch auto 1ch auto;
}

.lifts-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1em;
  margin-top: 1em;
}

@media (max-width: 700px) {
  .lifts-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

.lifts-container .lifts {
  backdrop-filter: blur(3px) saturate(100%);
  -webkit-backdrop-filter: blur(6px) saturate(100%);
  background-color: rgba(75, 75, 75, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(143, 143, 143, 0.3);
  max-width: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 1em;
  width: 100%;
  text-align: center;
  margin: auto;
}

.lifts-container label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lifts-container label input {
  max-width: 100px;
  margin: auto;
}

.lifts-container .active-lift {
  background-color: rgba(173, 216, 230, 0.345);
}

.week-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.week-buttons-container button {
  margin: 1em;
}

.week-buttons-container .active-week {
  background-color: lightblue;
}

.percentages-container {
  backdrop-filter: blur(3px) saturate(100%);
  -webkit-backdrop-filter: blur(6px) saturate(100%);
  background-color: rgba(75, 75, 75, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(143, 143, 143, 0.3);
  max-width: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 1em;
  width: 100%;
}

.percentages-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}
/*# sourceMappingURL=styles.css.map */