@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");

$light-blue: rgb(74, 207, 255);
$off-white: rgb(220, 220, 220);
@mixin glass {
  backdrop-filter: blur(3px) saturate(100%);
  -webkit-backdrop-filter: blur(6px) saturate(100%);
  background-color: rgba(75, 75, 75, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(143, 143, 143, 0.3);
  max-width: 1000px;
  justify-content: center;
  margin: auto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/deadlift.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 100vh;
  font-family: Roboto, sans-serif;

  color: $off-white;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1em;
  max-width: 800px;

  margin: auto;
}

h1 {
  text-align: center;
  color: $light-blue;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -10px;
  margin: 0;
}

.intro {
  @include glass;
  position: relative;
  width: 100%;

  #intro-close {
    position: absolute;
    right: 1ch;
    top: 1ch;
    font-weight: bold;
    cursor: pointer;
  }
  p {
    text-align: center;
    padding: 2em;
    max-width: 80ch;
    margin: auto;
    font-size: 1.25rem;
  }
  a {
    color: $light-blue;
    text-decoration: none;
  }
}

.orm-calculator {
  @include glass;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 1em;
  text-align: center;

  @media (max-width: 700px) {
    flex-direction: column;
  }

  h3 {
    margin: 1rem;
  }
  h4 {
    margin: 1rem;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    label {
      display: flex;
      flex-direction: column;
      margin: 0.5rem;

      input {
        max-width: 100px;
        margin: 1ch auto 1ch auto;
      }
    }
  }
}

.lifts-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1em;
  margin-top: 1em;

  @media (max-width: 700px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .lifts {
    @include glass;
    padding: 1em;
    width: 100%;
    text-align: center;
    margin: auto;
  }

  label {
    display: flex;
    flex-direction: column;
    input {
      max-width: 100px;
      margin: auto;
    }
  }
}
